# wp-content/*
# wp-admin/*
# wp-includes/*
# wp-includes/js/dist
# wp-includes/js/mediaelement/mediaelement-and-player.js
# wp-includes/js/backbone.js
# wp-admin/includes/*
# wp-includes/js/tinymce/*
# wp-includes/ID3/module.audio.ac3.php
python3-virtualenv/*
*.terraform.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
*.log
*.tfvars
override.tf
override.tf.json    
*_override.tf
*_override.tf.json
